<!doctype html>
<html>

<head>
  <title>Getting Started</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="src/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
  <div id="body-container">

    <div class="row">
      <div class="col s9">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input id="image-file" type="file">
          </div>
          <div class="file-path-wrapper">
            <input id="image-label" class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="file-field input-field">
          <div class="waves-effect waves-light btn" v-on:click="getImage()">Load Image</div>
          <!-- <div class="waves-effect waves-light btn" v-on:click="redrawImage()">Redraw</div> -->
        </div>
      </div>
    </div>

    <div id="canvas-container" class="center-align"></div>

    <h1>Color Palette</h1>
    <div id="color-card-container">
      <div class="card-container" v-for="color in Object.keys(color_index.id)">
        <div class="card" v-bind:style="{ 'background-color': color_index.id[color]}">
          <div class="card-content">
            <input v-bind:placeholder="color_index.id[color]" type="text" v-model="color_index.id[color]" @change="redrawImage()">
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
  <script src="dist/bundle.js"></script>
</body>

</html>