#body-container {
    padding: 50px;
}

#color-list {
    display: flex;
}

.color-index {
    width: 50px;
    height: 50px;
}

#canvas-container {
    display: flex;
    justify-content: center;
}

#color-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    width: 200px;
    margin: 16px;
}